<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--Import Icon Font-->
    <link href="../../static/back/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!--Import Bulma.css-->
    <link type="text/css" rel="stylesheet" href="../../static/back/node_modules/bulma/css/bulma.css" media="screen,projection" />
    <!--Import metisMenu.css-->
    <link href="../../static/back/node_modules/metismenu/dist/metisMenu.min.css" rel="stylesheet">
    <!-- Simditor -->
    <link href="../../static/back/node_modules/simditor/styles/simditor.css" rel="stylesheet" type="text/css">
    <!-- Chosen -->
    <link href="../../static/back/node_modules/chosen-js/chosen.css" rel="stylesheet" type="text/css">
    <!-- datetimepicker CSS -->
    <link href="../../static/back/node_modules/jquery-datetimepicker/build/jquery.datetimepicker.min.css" rel="stylesheet" type="text/css" >
    <!--Import common.css-->
    <link href="../../static/back/styles/common.min.css" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>Ddesk Control</title>
</head>

<body>
    {% include 'back/_header.html' %}

    <div class="main">
        <div class="is-clearfix">
            <h3 class="title is-pulled-left">新增里程碑</h3>
            <a class="button is-small t-b" href="{{ url_for('.milestone') }}">返回</a>
        </div>
        <section class="section">
        <div class="columns">
            <form class="column is-8" action="" method="post">
                {% include 'front/_flashMsg.html' %}
                {% include 'front/_formMsg.html' %}
                {{ form.hidden_tag() }}

                {{ form.product.label(class="label") }}
                <p class="control">
                    {{ form.product(class="input") }}
                </p>
                {{ form.title.label(class="label") }}
                <p class="control">
                    {{ form.title(class="input") }}
                </p>
                {{ form.details.label(class="label") }}
                <p class="control">
                    {{ form.details(class="textarea", placeholder="文章正文") }}
                </p>
                {{ form.publish_time.label(class="label") }}
                <p class="control">
                    {{ form.publish_time(class="input") }}
                </p>
                <div class="submit">
                    <button class="button is-dark" type="submit">保存</button>
                </div>
            </form>
        </div>
        </section>
    </div>

    {% include 'front/_footer.html' %}

    <!--Import jQuery-->
    <script type="text/javascript" src="../../static/back/node_modules/jquery/dist/jquery.min.js"></script>
    <!--Import CommonJS-->
    <script src="../../static/back/scripts/common.min.js" charset="utf-8"></script>
    <!--Import metisMenuJS-->
    <script src="../../static/back/node_modules/metismenu/dist/metisMenu.min.js"></script>
    <script>
        $(function() {
            $('.menu-list').metisMenu({
                toggle: false,
            });
        });
    </script>
    <!-- Simditor -->
    <script type="text/javascript" src="../../static/back/node_modules/simple-module/lib/module.js"></script>
    <script type="text/javascript" src="../../static/back/node_modules/simple-hotkeys/lib/hotkeys.js"></script>
    <script type="text/javascript" src="../../static/back/node_modules/simple-uploader/lib/uploader.js"></script>
    <script type="text/javascript" src="../../static/back/node_modules/simditor/lib/simditor.js"></script>
    <script>
        var goods_detail = new Simditor({
            textarea: $('#details'),
            toolbar: ['title','bold','strikethrough','fontScale','color','ol','blockquote','table','image','hr','link','alignment'],
            upload:{
                url:'{{ url_for('front.upload') }}',
                fileKey:'detail_img'
            },
            imageButton:['upload']
        });
    </script>
    <!-- Chosen -->
    <script type="text/javascript" src="../../static/back/node_modules/chosen-js/chosen.jquery.js"></script>
    <script>
        $("#product").chosen({
            no_results_text: "没有匹配的Tag：",
            placeholder_text_multiple:'请输入关键词选择Tag'
        })
    </script>
    <!-- datetimepicker JavaScript -->
    <script src="../../static/back/node_modules/jquery-datetimepicker/build/jquery.datetimepicker.full.min.js"></script>
    <script>
        $('#publish_time').datetimepicker({
              lang:"ch",           //语言选择中文
              format:"Y-m-d",      //格式化日期
              timepicker: false,    //关闭时间选项
              yearStart: 2016,     //设置最小年份
              yearEnd: 2050,        //设置最大年份
              todayButton: false    //关闭选择今天按钮
        });
    </script>
</body>

</html>
