<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--Import Icon Font-->
    <link href="../../static/front/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../../static/node_modules/bulma/css/bulma.css"
          media="screen,projection"/>
    <!--Import common.css-->
    <link href="../../static/front/styles/common.min.css" rel="stylesheet">
    <!-- Simditor -->
    <link href="../../static/front/node_modules/simditor/styles/simditor.css" rel="stylesheet" type="text/css">
    <!--Import favicon-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>{{ web_title }} - 产品迭代看板 | {{ web_subtitle }}</title>
</head>

<body>
{% include 'front/_header.html' %}

<section class="section">
    <div class="mile-main">
        <div class="de-nav">
            <div class="tabs is-centered">
                <ul>
                    {% for item in all_product_line_id %}
                        <li class="{% if this_product_line_id == item.id %}is-active{% endif %}"><a
                                href="{{ url_for('.milestone', product_line_id=item.id) }}">{{ item.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="has-text-centered">
            {% if this_product_line_id %}
                {% for item in all_product_id %}
                    <a class="button {% if this_product_id == item.id %}is-info{% endif %}"
                       href="{{ url_for('.milestone', product_line_id=this_product_line_id, product_id=item.id) }}"> {{ item.name }}</a>
                {% endfor %}
            {% else %}
                请先从上方选择要查看的产品线 ↑
            {% endif %}
        </div>

        <div class="mile-details-wrapper">
            {% for item in all_milestone %}
            <div class="box">
                <strong>{{ item.title }}</strong>
                <p>上线时间：{{ item.publish_time }}</p>
                <p class="content">{{ item.details|safe }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

</section>

{% include 'front/_footer.html' %}

<!--Import jQuery-->
<script type="text/javascript" src="../../static/front/node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../static/front/scripts/common.min.js" charset="utf-8"></script>


</body>

</html>
